

<div class="thumbnail padding-less glow-hover">
    <a href="#">

        <div class="maintain-aspect-ratio-4-3" style="background-color: #E0E0E0">
            <img src="http://placehold.it/400x300" alt="No Available Image" class="img-thumbnail maintain-aspect-ratio border-less">
        </div>
        @*<div class="photo-count">2 Photos</div>*@

        <div class="caption">
            <strong style="color:#00796B">Beautiful Home</strong>
            <div><span>&#8369 7,500</span></div>
            <div><i class="fa fa-map-marker"></i> Metro Manila</span></div><span>
            
        </div>
    </a>
</div>