

<div class="thumbnail card-listing">
    <a href="#">

        <div class="maintain-aspect-ratio-4-3" style="background-color: #E0E0E0">
            @*<img src="http://placehold.it/400x300" alt="No Available Image" class="img-thumbnail maintain-aspect-ratio border-less">*@
            <img src="~/Content/images/23251752_2.jpg" alt="no available image" class="img-thumbnail maintain-aspect-ratio border-less" />
        </div>
        @*<div class="photo-count">2 Photos</div>*@


        <div class="caption card-caption">
            <h3 class="card-caption-header">Mansion Home</h3>
            <div class="caption-text">&#8369 7,500</div>
            <div class="caption-text-light"><i class="fa fa-clock-o"></i> 2 Days ago</div>
            <div class="caption-text-light"><i class="fa fa-map-marker"></i> Quezon City, Metro Manila</span></div><span>
        </div>

    </a>
</div>