@import (reference) "bootstrap/variables.less";
@import (reference) "bootstrap-theme.less";


.maintain-aspect-ratio-4-3
{
  position: relative;
  height: 0;
  padding-top: 75%; /*4:3*/
  display: block; 
}


/*add this class to the content that will scaled*/
.maintain-aspect-ratio-4-3 .maintain-aspect-ratio
{  
  position: absolute;
  padding:0;
  border-radius:0px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-height: 100%;
  margin: auto;
}

/*add this class to the content that will scaled*/
.maintain-aspect-ratio-4-3 .img-thumbnail
{  
    border:0 none;
}

/* Maintain 100% width of images in smaller screens */
.full-height-width{
    width: 100%;
    height:100%;
}

.glow-hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.card-listing a {text-decoration:none;}
.card-listing a:hover {text-decoration:none;}
.card-listing a:visited {text-decoration:none;}


@media(min-width:@screen-xs){
    .card-listing{
        .glow-hover;
        margin-left: -@grid-gutter-width / 2
    }
    .listing-container{
        margin-left: @grid-gutter-width / 2;
    }
}

@media(max-width:@screen-xs){
    .card-listing{
        .glow-hover;
    }
}


.card-caption {
    background-color:#fff;
    font-weight:500;
}

.card-caption-header{
    .card-caption;
    font-size:17px;
    margin:0;
}

.card-caption .caption-text{
    display:block;
    color:#5e5e5e;
    margin-top:4px;
}

.card-caption .caption-text-light{
    color:@gray-light;
    font-size:12px;
    font-weight:500;
    display:block;
    margin-top:4px;
}